<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hyh.dao.UserDao" >
  <resultMap id="BaseResultMap" type="hyh.entity.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="invitationid" property="invitationid" jdbcType="BIGINT" />
    <result column="surplus" property="surplus" jdbcType="TINYINT" />
    <result column="points" property="points" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR"/>
    <result column="logintime" property="logintime" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, email, password, name, qq, invitationid, surplus, points, logintime, ip
  </sql>

  <select id="getById" resultMap="BaseResultMap" >
  select
  <include refid="Base_Column_List" />
  from user
  where id = #{id,jdbcType=BIGINT}
</select>

  <select id="getAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from user
  </select>

  <select id="getByInvitid" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from user
    where invitationid = #{invitationid}
  </select>

  <select id="login" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from user
    where email = #{email} and password = #{password}
    limit 1
  </select>

  <select id="isExist" resultMap="BaseResultMap" >
    select count(*)
    from user
    where name = #{name} and email = #{email}
    limit 1
  </select>

  <delete id="deleteById">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="add" parameterType="hyh.entity.User"  useGeneratedKeys="true" keyProperty="id">
    insert into user (id, email, password,
      name, qq, invitationid,
     points,logintime, ip)
    values (#{id,jdbcType=BIGINT}, #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{invitationid,jdbcType=BIGINT},
       #{points},#{logintime}, #{ip})
  </insert>

  <update id="editPwd" parameterType="hyh.entity.User" >
    update user
    set password = #{password}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="update" parameterType="hyh.entity.User" >
    update user
    set surplus = #{surplus,jdbcType=TINYINT},
      points = #{points}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateLoginInfor" >
    update user
    logintime = #{logintime},
    ip = #{ip}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>