body {
    background:rgb(24, 26, 34);
    background-size: 100% 100%;
    padding-top: 70px;
}
h1{
    color: #ffffff;
}
.subtitle{
    color: #ffffff;
}
#wapper {
    position: relative;
    height: auto;
    min-height: 100%
}

#main-content {
    padding-bottom: 60px;
}

.pushcontent {
    color: #cccccc;
    background-color: rgba(77, 77, 77, 0.46);
    padding: 4px 6px 4px 6px;
    border-radius: 11px;
}

.pushcontent:hover {
    color: #ffffff;
    background-color: transparent;
}

.searchh1 {
    font-size: 20px;
}
.footer{
    border-top: 5px rgb(33, 36, 46) solid;
    width: 100%;
    background-color: rgb(48, 50, 58);
    padding-top: 15px;
    padding-bottom: 10px;
}
.footer p{
    color: #ffffff;
}
.footer a{
    color: rgb(151, 198, 178);
}
/*header*/
.containerNew .navbar-nav li a{
    color: #fff;
}
.containerNew{
    background-color: rgb(24, 26, 34);
    border-bottom: 1px rgb(48, 50, 58) solid;
    width: 100%;
    transition: 1.5s;
}
.containerNew:hover{
    background-color: #ffffff;
    padding-bottom: 10px;
}
.rowNew{
    margin-bottom: 30px;
}
.containerNew:hover .btn-primary,.containerNew:hover .form-control{
    color: rgb(24, 26, 34);
    border-color:rgb(24, 26, 34) ;
}
.containerNew:hover .navbar-brand,.containerNew:hover .dropdown-toggle,.containerNew:hover .a{
    color: rgb(24, 26, 34);
}
.containerNew a:focus{
    background-color: #3c763d;
}
.containerNew:hover .navbar-nav li a{
    color: rgb(24, 26, 34);
    border-bottom: 2px solid #fff;
    transition: border 0.5s;
}

.containerNew:hover .navbar-nav a:hover{
    border-bottom: 2px solid #66512c;
    transition: border 0s;
}
/*upload*/
.hidden-xs{
    color: black;
}
.glyphicon{
    color: black;
}
.ladda-button{
    color: black;
}
.ladda-button:hover{
    border-color: black;
}
/*search.html*/
.results-title >ul>h2>p{
    color: rgba(42, 47, 64, 0.86);
}
.results-count > p{
    color: rgba(42, 47, 64, 0.86);
    font-weight: 600;
}
.results-show > h1 > a{
    color: #228797;
    font-size: 19px;
}
.container-result{
    background-color: rgba(253, 253, 253, 0.72);
    border-radius: 10px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}

.pagination > li {
    display: inline
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: rgba(28, 51, 75, 0.78);
    text-decoration: none;
    background-color: inherit;
    border: none;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border: none;
    margin-left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 4px
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border: none;
    background-color: inherit;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    background-color: inherit;
    border:none;
    font-weight: 700;
    background-color: rgba(253, 253, 253, 0.36);
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 2;
    color: rgb(24, 26, 34);
    font-weight: 500;
    cursor: default;
    background-color: inherit;
}
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: inherit;
    border:none
}
/*signup.html*/
.login-box-body{
    border-radius: 1px;
}
.login-logo a, .register-logo a {
    color: rgba(249, 249, 249, 0.91);
    font-weight: 500;
}
.login-page, .register-page {
    background: rgb(24, 26, 34)
}
.login-logo, .register-logo {
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 100
}
.buttonNew{
    background-color: rgba(17, 28, 58, 0.82);
    border: 1px solid #fff;
    font-weight: 600;
    color: #fff;
}
.buttonNew:hover{
    background-color: #fff;
    border:1px solid rgba(26, 40, 80, 0.76);
    color:rgba(26, 40, 80, 0.76) ;
}
.controlNew{
    background-color: inherit;
    border-color: #cccccc;
}
.form-control:focus,.form-control:after{
    border-color: rgba(26, 40, 80, 0.76);
}